<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>FININOVA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="home">
    <div *ngIf="userNombre">
      <ion-label>Bienvenido  {{ userNombre }}</ion-label>
    </div>
  </div>

  <ion-button expand="block" color="primary" (click)="crearcuenta()">Crear Cuenta</ion-button>
  <ion-button expand="block" color="primary" (click)="iniciosesion()">Iniciar Sesion</ion-button>
  <ion-button expand="block" color="primary" routerLink="/presupuesto" (click)="presupuesto()">Crear Presupuesto</ion-button>
  <ion-button expand="block" color="primary" routerLink="/presupuesto-save" (click)="verpresupuesto()">Ver Presupuestos</ion-button>
  <ion-button expand="block" color="primary" (click)="logout()">Cerrar Sesión</ion-button>
</ion-content>
